<ion-header>
  <ion-navbar color='navbar' class='gradientnav'>
    <ion-buttons right>
      <button ion-button round (click)="goToMake()">
      <ion-icon class="mediumtext" name="cog"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title item-center>Hub
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding="true" class="homebg" has-header="true" has-footer="true" has-tabs="true">
  <div id="ANIM_ratingstrip" class="ratingstrip"></div>
  <div style="margin-bottom: 30px"></div>
  <ion-refresher (ionRefresh)="refreshMoves($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull me harder daddy (refresh)" refreshingSpinner="circles" refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <div class="centertext">
    <h4 id ="day" class="mediumtext date-time">{{ this.system.currentday }}</h4>
    <h4 id ="date" class="date-time">{{ this.system.currentdate }}</h4>
    <div id="infobord" class="infoborder">
      <p class='robototext'><b>Moves v0.0.1</b></p>
      <p class='robototext'>(It's buggy as shiiittt)</p>
    </div>
    <!--<h4 class="mediumtext">Saturday night</h4>
    <h4>February 11th, 2017</h4>-->
    <!--   <h4 class="lessmargin">It's a</h4>
  <h4 class="largetext lessmargin">{{ this.system.currentday }}</h4>
  <h4>on</h4>
  <h4>{{ this.system.currentdate }}</h4> -->
  </div>
  <!--   <button (click)='start()'>Start Tracking</button>
  <button (click)='stop()'>Stop Tracking</button>
  <p>Location: {{locationTracker.lat}}, {{locationTracker.lng}}</p>
  <p>Updated {{ locationTracker.status }} times.</p> -->
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 568.5 73.5" enable-background="new 0 0 568.5 73.5" xml:space="preserve">
    <line class="path" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="36.2" x2="598.5" y2="36.2"
    />
    <g>
      <path class="path" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" d="M304.3,18c-3.5,0.2-5.1,1.3-6.9,4.3l-10.2,16.9v12
    c1.3,2.9,4.1,3.2,7,3.3v1.4h-19.7v-1.4c2.8-0.1,6.2-0.6,7.2-2.5V39.6L271,22.2c-1.8-2.9-3.5-4-6.9-4.2v-1.4h17V18
    c-3.3,0.2-4.3,0.9-5.2,1.6l9.8,16.5l9.6-16.4c-1-0.7-1.9-1.5-5.2-1.7v-1.4h14.1V18z" />
    </g>
    </svg>
    <!-- SVG DESIGN END -->
    <br>
    <br>
    <!--<ion-scroll direction='y' style="height: 100% !important;">-->
    <ion-list>
      <div id="indivMove">
        <ion-item [@fadeInOut] id="oneMove" class="moveslist" no-lines *ngFor="let move of mp.moves | async" (click)="checkStats(move)" (press)="mp.deleteMove(move)">
          <ion-icon item-right>
            <div class="container"><div id="ctn_{{move.key}}">{{mp.putBars(move)}}</div></div>

          </ion-icon>
          <span><ion-icon name="arrow-dropright-circle" class="ratingdot" [ngClass]="{ 'fun-border': totalRatings(move) == 1, 'meh-border': totalRatings(move) == 2, 'dead-border': totalRatings(move) == 3 }"></ion-icon><h1 id="moveName" class='cutoff' style="display: inline">{{move.info.name}}</h1></span>
          <p id="extraInfo" class="extra-info-text item-description">{{move.info.extraInfo}}</p>
          <p class="host-text"><i>Hosted by {{ move.info.hosts[0] }}</i></p>
        </ion-item>
      </div>
    </ion-list>
    <!--</ion-scroll>-->
    <!-- <round-progress [current]="current" [max]="max"></round-progress> -->

    <!--   <ion-list>
    <ion-item no-lines class="animated fadeInUp">
    <ion-icon item-right class="container" id="container" #container></ion-icon>
      <h2>ZETA</h2>
      <p class="item-description animated fadeInLeft">It's always lit here.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item no-lines class="animated fadeInUp">
    <ion-icon item-right class="container" id="container" #container></ion-icon>
      <h2>SigEp Party</h2>
      <p class="item-description animated fadeInLeft">That's right, we're back.</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item no-lines class="animated fadeInUp">
    <ion-icon item-right class="container" id="container" #container></ion-icon>
      <h2>Cookies N' Cream</h2>
      <p class="item-description animated fadeInLeft">Free cookies in SSS!</p>
    </ion-item>
  </ion-list> -->

  <pre id="object"></pre>

    <div *ngIf="!(mp.moves) || mp.moves.length <= 0 || mp.moves == null || mp.moves == undefined" class="nomoves centertext">
      <p class="circle1"></p>
      <p class="circle1 slower"></p>
      <p class="circle1 slower2"></p>
      <p class="circle1 slower3"></p>
      <p class="circle1 slower4"></p>
      <p class="circle1 slower5"></p>
      <!--   <img src="assets/img/nomoves.svg"/> -->
    </div>
    <div *ngIf="mp.moves" class='space invisible'>
      <div class="space"></div>
      <div class="space"></div>
      </div>

</ion-content>