page-stats {

.headerbg {
  // padding: 10px !important;
  border-left: 800px solid #333333;
  border-top:170px solid #333333;
	border-bottom:0px solid #333333;
  border-right:800px solid #333333;
  text-align:center;
  // position: absolute;
  z-index: -1;
}

.redbg {
	padding: 10px !important;
  z-index: 0;
}

.centerthis {
	text-align: center !important;
	// vertical-align: middle;
}

.headerback {
	background-color: #333333;
	padding-bottom: 60px !important;
  padding: 30px;
}

.headertruback {
		position: absolute;
	  top: 0px;
}

.animatestrip {
 	animation: stripenter-diag 3s ease 1;
 }

@keyframes stripenter-diag {
  0%   { bottom: 800px; }
  50% { bottom: 875px; }	
  100%   { bottom: 890px; }
}

@keyframes stripenter-horiz {
  0%   { bottom: 150px; right: 800px; }
  100% { bottom: 150px; right: 300px; }	
}


}
