page-stats {

.headerbg {
  padding: 10px !important;
  border-left: 800px solid #6A57B5;
  border-top:170px solid #6A57B5;
  border-right:800px solid #6A57B5;
  position: absolute;
  z-index: -1;


}

.ratingstrip {
	background-image: url("../assets/img/ratingstrip.png");
    background-repeat:no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 0;
	width: 10%;
	height: 100%;
	padding: 10px;

	transform:rotate(-45deg);
	// bottom: 150px;
	// right: 130px;
	// transform:rotate(90deg);
	bottom: 230px;
	left: 400px;
}

.animatestrip {
 	animation: stripenter-diag 2s ease 1;
 }

@keyframes stripenter-diag {
  0%   { bottom: 0px; left: 630px; }
  100% { bottom: 300px; left: 330px; }	
}

@keyframes stripenter-horiz {
  0%   { bottom: 150px; right: 800px; }
  100% { bottom: 150px; right: 300px; }	
}


}
